@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
html>body, html>body .toast-ui-editor, html>body .toastui-editor-contents, html>body .ProseMirror, html>body .toastui-editor-md-mode {
	font-family: 'Pretendard-Regular';
	text-underline-position: under;
}

/* 라이브러리 */
.table-box-type-1 > table {
	width:100%;
}

.table-box-type-1 > .min {
	width:50%;
}

.btns-box-type-1{
	width:50%;
	margin-left : auto;
	margin-right : auto;
}
.table-box-type-1 > table th{
	background-color: #FFFAF3;
}
.table-box-type-1 > table th , .table-box-type-1 > table td {
	border-top : 1px solid black;
	border-bottom : 1px solid black;
	padding : 10px;
	text-align: center;
	border-color: grey;
}

.table-box-type-1 > table tr:hover{
	background-color: #FFFAF3;
}

.btn-text-link{
	color: grey;
}

.btn-text-link:hover{
	color: black;
	text-decoration: underline;
}

/* 커스텀 */
body {
	min-width: 800px;
}

.layer {
	display: none;
	width: 500px;
	height: 500px;
	border-radius : 20px;
	background-color: rgb(214, 204, 169);
	color: white;
	border: 10px solid #FFFAF3;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	z-index: 11;
}
.layer > h2{
	padding-top : 70px;
	padding-bottom : 70px;
	font-size: 1.5rem;
} 
.layer > h3{
	padding-bottom : 20px;
	font-size: 1.3rem;
} 

.layer>button {
	padding: 20px;
}

.layer>button {
	position: absolute;
	bottom: 20px;
	right: 20px;
	border: 5px solid white;
	border-radius: 10px;
}

.layer-bg {
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .4);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}